<section id="header" class="header-section header"></section>
    <div class="header">
        <a class="logo" href="">
            <svg class="logo-svg"><use href="/img/icons.svg#icon-Logo"></use></svg>
        </a>
        <nav class="navigation">
            <ul class="ul-navigation">
                <li class="li-navigation">
                    <a href="">Equipment</a>
                </li>
                <li class="li-navigation">
                    <a href="">About us</a>
                </li>
                <li class="li-navigation">
                    <a href="">Blog</a>
                </li>
            </ul>
        </nav>
        <button class="acc">
            <svg class="cart"> <use href="/src/img/icons.svg#icon-cart"></use></svg>Account
        </button>
    </div>
</section>